# Masukan APP ID ambil di web my.telegram.org
API_KEY = "25836327"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "c7c332a013d7d51359c763b3c2e1a9a3"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BJWap1sAUHtM-iNU6VTR-5cWb5LOUsAQ-ZBusCejlNlHSDuyeLNLhto6T7jnkfHSJr_uRDUbJPCeUak_VJamLzbJYwZ4r12cQGB8cfHcXn_4_gCv4Hrg_JdcRJl7Tf1mKTl4qreRmPwmK5fZ7m9o_mvmNEiZdnKb-p__5-Q5cbxPAK0WMS8Gvo_oSVATpYezj0I3TQ-pQePmAo_m3hRzAPPYqHLJQ7HLgqZyg_s99ZURBemelrGI1gomtuCEad_UjsnaLZ4W_eYJQlLDhIslOThkFd-LslQmthjy8ply0Cff3fOMN3-DDZzB6byVchhCHN2m6XJTlh7Wa6XFKL28nlX46LIHR9c="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "7902824033:AAF3ZlbucH_YpJ0skdtUYXZXnjJjx_KR0rE"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1002569508076 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://avnadmin:AVNS_FH5tthg1MEDEJOKZS2g@pg-3452d22e-dirgahomage-e009.k.aivencloud.com:22423/defaultdb?sslmode=require"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

